<div class="header">
    <div class="container">
        <img id="logo" src="assets/images/df-logo2.png" alt="">
        <nav>
            <ul class="header-ul">
                <li>
                    <a>
                        HISTÓRIA
                    </a>
                </li>
                <li>
                    <a>
                        UNIDADES & MENUS
                    </a>
                </li>
                <li>
                    <a>
                        CARDÁPIOS
                    </a>
                </li>
                <li>
                    <a>
                        EVENTOS PRIVADOS
                    </a>
                </li>
                <li>
                    <a>
                        CONTATO
                    </a>
                </li>
                <li class="li-background">
                    <a class="a-background">
                        RESERVAS
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>