.carousel-container{
  height: calc(100vh - 156px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  position: relative;
  transition: background-image 1.5s ease-in-out;
}

.prev, .next{
  color: white;
  font-size: 64px;
  height: 64px;
  cursor: pointer;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
 }
.prev{
  position: absolute;
  top: calc(50% - 32px);
  right: 0;
 }
 .next{
  position: absolute;
  top: calc(50% - 32px);
  left: 0;
 }
