<div class="header">
    <div class="container">
        <img routerLink="/" id="logo" src="assets/images/df-logo2.png" alt="">
        <nav>
            <ul class="header-ul">
                <li>
                    <a routerLink="/historia">
                        HISTÓRIA
                    </a>
                </li>
                <li>
                    <a routerLink="/unidades">
                        UNIDADES & MENUS
                    </a>
                </li>
                <li>
                    <a routerLink="/cardapios">
                        CARDÁPIOS
                    </a>
                </li>
                <li>
                    <a routerLink="/eventos">
                        EVENTOS PRIVADOS
                    </a>
                </li>
                <li>
                    <a routerLink="/contato">
                        CONTATO
                    </a>
                </li>
                <li class="li-background">
                    <a routerLink="/reservas" class="a-background">
                        RESERVAS
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
