@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

/* You can add global styles to this file, and also import other style files */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "Cormorant", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input,
select {
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

:root {
	--primary-darkest-color: #101b2f;
	--primary-dark-color: #14203A;
	--primary-light-color: #7B9FCF;
}

body {
	overflow-x: hidden;
	font-size: 18px;
	color: var(--primary-dark-color);
	font-weight: 600;
}

.template {
	width: 100vw;
	height: 100vh;
}

.papel-de-parede {
	background-repeat: repeat;
	background-position: top left;
	background-image: url('/assets/images/papel de parede.png');
}

//TEMPLATE

//título grande
.t1-dark-blue{
	font-size: 3rem;
	color: var(--primary-dark-color);
}
.t1-white{
	font-size: 3rem;
	color: white;
}
//título médio
.t2-dark-blue{
	font-size: 1.25rem;
	color: var(--primary-dark-color);
}
.t2-white{
	font-size: 1.25rem;
	color: white;
}
//legenda de imagem
.dark-blue-image-label{
	background-color: var(--primary-dark-color);
	padding: 15px 30px;
	position: absolute;
	top: 54.8vh;
	left: 0;
}

//botão com background azul
.blue-background-transition {
	background-color: var(--primary-light-color) !important;
	padding: 9px 27px !important;
	color: var(--primary-dark-color) !important;
	cursor: pointer;
	&:hover {
		background-color: var(--primary-dark-color) !important;
		transition: background-color .4s ease !important;
		color: white !important;
	}
}
