<app-carrossel [paths]="paths"></app-carrossel>
<div class="home-imagem-texto">
    <div class="home-imagem">
        <img src="assets/images/texto-imagem/restaurant 1.jpg" style="position: relative;" alt="NATAL, RN">
        <div class="dark-blue-image-label-left t2-white">NATAL, RN</div>
    </div>
    <div class="home-texto">
            <h2 class="t1-dark-blue">
                DECORAÇÃO ELEGANTE
            </h2>
            <p>
                Um ambiente acolhedor e sofisticado aberto diariamente, ideal para reuniões de negócio, ocasiões especiais ou jantares românticos.
                <!-- Oferecemos almoços e jantares diários, perfeitos para uma reunião de negócios ou uma ocasião especial e romântica, em um ambiente acolhedor e sofisticado. -->
            </p>
            <a class="blue-background-transition">
                LOCALIZAÇÃO
            </a>
    </div>
</div>
<div class="pattern-wallpaper">
    <p class="t1-white">SERVIÇOS</p>

    <div class="grid-container">
        <div class="item">
            <div class="white-border">
                <img src="assets/images/servicos/dia-dos-namorados.jpg" alt="">
            </div>
            <p class="t2-white">CELEBRE O DIA DOS NAMORADOS</p>
        </div>
        <div class="item">
            <div class="white-border">
                <img src="assets/images/servicos/vinho.jpg" alt="">
            </div>

            <p class="t2-white">DEGUSTAÇÃO DE VINHOS</p>
        </div>
        <div class="item">
            <div class="white-border">
                <img src="assets/images/servicos/janeiro-seco.jpg" alt="">
            </div>

            <p class="t2-white">JANEIRO SECO</p>
        </div>
        <div class="item-centralizado">
            <div class="white-border">
                <img src="assets/images/servicos/jantar-privado.jpg" alt="">
            </div>

            <p class="t2-white">JANTARES PRIVADOS</p>
        </div>
    </div>
</div>

<div class="home-texto-image">
    <div class="home-texto">
        <h2 class="t1-dark-blue">
            LINDA DECORAÇÃO
        </h2>
        <p>
            Oferecemos acomodações elegantes para reuniões de negócios e conferências, recepções sociais e celebrações de feriados. Nossa equipe pode ajudar a organizar o evento perfeito para encontros ao ar livre, abertos e semi-privativos.
        </p>
        <a class="blue-background-transition">
            LOCALIZAÇÃO
        </a>
</div>
    <div class="home-imagem">
        <img src="assets/images/texto-imagem/restaurant 1.jpg" style="position: relative;" alt="NATAL, RN">
        <div class="dark-blue-image-label-right t2-white">NATAL, RN</div>
    </div>
</div>