.home-imagem-texto {
	height: 65vh;
	display: flex;
	flex-direction: row;

	.home-texto{
		width: 50vw !important;
		max-width: 50vw !important;
		min-width: 0vw !important;
		padding: 8rem 7rem;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column !important;
		gap: 40px;
		p{
			font-weight: 600;
			font-size: 19px;
		}
	}

	.home-imagem{
		display: flex;
		width: 50vw !important;
		max-width: 50vw !important;
		align-items: center !important;
		justify-content: center !important;
        position: relative;
		img{
			width: 50vw !important;
			height: 50vh !important;
		}
	}
}