<app-carrossel [paths]="paths"></app-carrossel>
<div class="home-imagem-texto">
    <div class="home-imagem">
        <img src="assets/images/texto-imagem/restaurant 1.jpg" alt="asdas">
    </div>
    <div class="home-texto">
            <h2>
                LINDA DECORAÇÃO
            </h2>
            <p>
                Oferecemos almoços e jantares diários, perfeitos para uma reunião de negócios ou uma ocasião especial e romântica, em um ambiente acolhedor e sofisticado.
            </p>
            <a class="blue-background-transition">
                LOCALIZAÇÃO
            </a>
    </div>

</div>